/*=====RESET     position: fixed;
    top: 0;
    width: 100%=====*/

    html {
        box-sizing: border-box;
        font-family: sans-serif;
        font-size: 16px;
    }
    
    
    *,
    *:after,
    *:before { 
        padding: 0;
        margin: 0;
        box-sizing: inherit;
    }
    
    img {
        max-width : 100%;
    }
    
    a {
        text-decoration : none;
    }
    
    a:hover {
        text-decoration : underline;
    }
    
        /*=====COLORS=====*/
    
    :root {
       --gray-3 : #e7e7e4;
       --gray-2 : #828282;
       --gray-1 : #4F4F4F;
       --orange : #ff9900;
    }
    
    /*=======================================*/
    
    
    
    
    /*=====HEADER=====*/
    
    
    
    .header__container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        font-size: 0.8em;
        height: 6rem;
        width: 100%;
        color: var(--gray-1);
        background-color: var(--gray-1);  
        box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2); 
    
      
    }
    
    .logo a {
        color: var(--orange);
        font-size: 1em;
        font-family: 'Zilla Slab', serif;
        font-weight: 700;
        text-decoration: none;
       
    }
    
    .shearch__title {
        font-size: 1.2em;
        color: var(--gray-1);
    }
    
    .input {
        border:  1px solid var(--gray-1);
        border-radius: 3px;
        color: var(--gray-1);
        font-size: 1em;
        height: 2.5em;
        padding: 0 1.5em;
        outline: none;
    }
    ::placeholder {
        color: var(--gray-1);
    }
    
    /*=====HEADER END=====*/
    
    
    
    /*================================*/
    
    
    
    /*=====SECTION HERO=====*/
    .container__hero {
        padding: 2rem  1rem 3rem;
        background-color: rgba(0, 0, 0, 0.767);
        text-align: center;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
        position: relative;
        font-family: 'Zilla Slab', serif;

    }

    .title__hero {
        position: relative;
    }
    
    
    .image-hero {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        opacity: 0.1;
        
    }
    
    .title-text {
   
        font-size: 1.5em;
        font-weight: 700;
        color: var(--gray-3); 
    
    }
    
    .subtitle-text {
        font-size: 1em;
        font-weight: 300;
        color: var(--orange); 
    
    }
    
    
    /*=====SECTION HERO END =====*/
    
    .detaill {
        margin-top: 2rem;
        padding:  0 1rem;
        
    }
    
    
    .title__detaill {
            font-family: 'Zilla Slab',serif;
        font-size: 1.5em;
        font-family: 'Zilla Slab',serif;
        color: var(--gray-2); 
    }
    
    .main__container {
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
       
    }
    
    .container-card {   

        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    
    .content__card  {
    
        width: 140px;
        height: 200px;
        margin:  0.5rem;
        object-fit: fill;
        padding: 0.5em;
        border: 1px solid var(--orange);
        border-radius: 3px;
    
     
        
       
    }
    
    .text-title {
        padding: 0.3em;
        margin: 0 0.3rem;
        width: 150px;
        height: 50px;
        text-align: center;
        border: 1px solid var(--orange);
        border-radius: 3px;

        
        
        
        
    }
    
    
    .title {
        display: block;
        color: var(--orange);
        font-family: 'Zilla Slab',serif;
        font-size: 0.8rem;
       
    } 
     

/*=====SECTION HERO END =====*/


@media screen and (min-width: 768px) {
 
  
    .container-card {
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin-top: 20px; 
  }

  .header__container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    height: 4rem;

}


 /*=====SECTION HERO=====*/
 .container__hero {
    padding: 5rem  1rem 6rem;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
    position: relative;
    font-family: 'Zilla Slab', serif;

}

.title__hero {
    position: relative;
}


.image-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
   
    
}

.text-title {
    padding: 0.3em;
    margin:  0.3rem;
    width: 150px;
    height: 50px;
    text-align: center;
    border: 1px solid var(--orange);
    border-radius: 3px;
    
}

.title {
    display: block;
    color: var(--orange);
    font-family: 'Zilla Slab',serif;
    font-size: 0.8rem;
   
} 

.subtitle-text {
    font-size: 1em;
    font-weight: 300;
    color: var(--orange); 

}

.detaill {
    padding:  0 8rem;
    
}




}
