html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a {
    color: #0156d8;;
    transition: color 0.4s ease;
}

a:hover {
    color: rgb(255, 0, 230);
}


h1 {
    text-align: center;
}


img {
    max-width: 100%;
    height: auto;
}
.error {
    padding: 1rem;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color:red;
}

.error mark {
    padding: 1rem;
    border-radius: 1rem;
    display: inline-block;
    color: #f2f2f2;
    background-color: #f32d2d;
}


.s-form {
    margin: auto;
    text-align: center;
}

.s-form input {
    display: block;
    margin: auto;
    padding: 0.25rem;
    font-size: 1rem;
}

.grid-fluid {
    margin: 1rem auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px, 1fr));
}

.header {
    padding: 0.5rem;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: rgb(222, 222, 233)
}

.header > *{
    margin: 1rem auto;
}

.loader {
    margin: 1rem auto;
    display: block;
    width: 3rem;
    height: 3rem;
}

.post-card {
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color:silver
}

.post-card p {
    display: flex;
    justify-content: space-between;
}

.post-p {
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color:rgb(222, 222, 219)
}

.post-p > hr {
    border: 1px solid #0156d8;
    margin: 2.5rem auto;
    width: 80%;
}

.post-p time {
    margin:  1rem auto;
    display: block;
    
}

.post-p > article {
    padding:  0 2rem;
}

.post-p img,
.post-p audio,
.post-p iframe,
.post-p video {
    margin: auto;
    display: block;
    max-width: 100%;
}